<h2><%= @post.title %></h2>

<h3><%= @post.content %></h3>

<h4>Comments:</h4>
<p>
  <% @post.comments.each do |comment| %>
    <%= comment.content %> - <%= comment.user.username%><br>
  <% end %>
</p>

<fieldset>
  <h4>New Comment:</h4>
  <%= form_for(@comment, url: post_path(@comment.post.id)) do |f| %>
    <%= f.collection_select :user_id, @users, :id, :name, include_blank: true %>
    <p>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </p>
    <%= f.submit "Add Comment" %>
  <% end %>
</fieldset>

<h4>Users who commented:</h4>
<p>
  <% users = [] %>
  <% @post.comments.each do |comment| %>
    <% users << comment.user if comment.user.username %>
  <% end %>
  <% users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %><br>
  <% end %>
</p>
